#Update 'rgbBlue' value
#Tue Jun 23 15:35:18 CST 2015
rgbBlue=255
name=1
wg=10.10.10.1
ym=255.255.255.0
ip=10.10.10.189
rgbGree=128
dns2=222.75.152.129
dns1=202.100.96.68
rgbRed=0

checkUpdate=http://localhost:8080/download/version.html
updateUrl=http://localhost:8080/download/main.jar

downloadFilename=main.jar
downloadFilefolder=updatadown
version=2.0