#Update 'rgbBlue' value
#Wed Sep 16 17:21:54 CST 2015
rgbBlue=128
name=1
wg=10.10.10.1
ym=255.255.255.0
downloadFilefolder=updatadown
updateUrl=http://localhost:8008/download/swtUI4J_fat.jar
checkUpdate=http://localhost:8008/download/version.html
downloadFilename=main.jar
version=2.0
ip=10.10.10.189
rgbGree=128
dns2=222.75.152.129
dns1=202.100.96.68
rgbRed=64
